* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.05);
}

main h1 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

main form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 20px;
}

main form fieldset label {
  font-size: 14px;
  margin-bottom: 5px;
}

main form fieldset select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

main .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #222;
  padding: 20px;
}

main .buttons button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  color: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px #000;
          box-shadow: 1px 1px 4px #000;
  margin-right: 20px;
  cursor: pointer;
}

main .buttons button.add {
  background-color: #26a69a;
}

main .buttons button.remove {
  background-color: #ec407a;
}

main .buttons button:hover {
  opacity: 0.8;
}

main .demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #222;
  height: 600px;
  padding: 20px;
}

main .demo .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #42a5f5;
  padding: 20px;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 40px;
  border-radius: 4px;
}
/*# sourceMappingURL=styles.css.map */